body {
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS"; 
}

.footer, .header {
	text-align: center;
}

.header {
	font-family: 'Molle', cursive;
	color:#8033aa;
}

.menu span {
	margin-right: 40px;
	font-size: 14px;
}

.container {
	width: 400px; 
	margin: 0px auto;
	padding-bottom: 40px;
	
}

.mainContainer{
	background-color: #e1dfe1;

}

.menu, .footer {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}

.titleMenu {
	color: #ce90e7;
}


blockquote {
  	border: 1px solid black;
  	width: 358px;
  	margin: 0px auto;
  	padding: 20px;
 	text-align: justify;
}

.form label, button {
	font-weight: bold;
}


