body {
	font-family: verdana;
}

.members {
	 font-family: verdana;
}

.members li {
	 font-style: italic;
}

table, th , td {
	
	border-collapse: collapse;
	font-style: italic;
}

#title1 {
	text-align: left;
	font-family: 'rock_saltregular';
}

@font-face {
    font-family: 'rock_saltregular';
    src: url('Fonts/RockSalt-webfont.eot');
    src: url('Fonts/RockSalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/RockSalt-webfont.woff') format('woff'),
         url('Fonts/RockSalt-webfont.ttf') format('truetype'),
         url('Fonts/RockSalt-webfont.svg#rock_saltregular') format('svg');
    font-weight: normal;
    font-style: normal;
 }

.specialFont {
	font-family: 'rock_saltregular';

}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f39170 !important;
}
.table-striped th {
	text-align: center;
}

.img-circle {
	width: 300px; height: 300px;
}

.albumTitle,.albumImg {
	text-align: center;
}