body {
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS"; 
}
.restaurantName,.footer {
	text-align: center;
}
.container {
	width: 400px; 
	margin: 0px auto;
}
.menu, .footer {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}
.menu span {
	margin-right: 40px;
	font-size: 14px
}

.text {
	margin-bottom: 40px;
}
blockquote {
  border: 1px solid black;
  width: 360px;
  margin: 0px auto;
  padding: 20px;
  text-align: justify;
}
.picture {
	padding-top: 20px;
	padding-bottom: 20px;
}
.containerMenu td {
	width: 33%;
	vertical-align: top;
	text-align: center;
}
.containerMenu {
	width: 800px; 
	margin: 20px auto;
}
.menuText td { 
font-size: 12px }

.titleMenu {
	font-size: 17px;
}

.form {
    width: 500px; 
	margin: 50px auto;

}
.form select , button {
	font-family: "Comic Sans MS";
	font-size: 12px;
}

.button{
	border-radius: 3px;
	margin-bottom: 20px;
	text-align: right;
}

.input{
	width: 190px;
}

.tarea{
	width: 189px;
	height: 50px;
}
.select{
	width: 194px;
	margin-bottom: 10px;
	margin-top:10px;

}
label {
	text-align: right;
	display: block;
	padding-right: 20px;
	}

.checkbox {
	padding-top: 20px;
	padding-bottom: 20px;
}
