
.navR{
	font-family: "Comic Sans MS";
}

a {
	color:#8033aa !important;
}


.footer, .header {
	text-align: center;
}

.header {
	font-family: 'Molle', cursive;
	color:#8033aa;
}

.menu span {
	margin-right: 40px;
	font-size: 14px;
}

.mainContainer{
	background-color: #e1dfe1;
	padding-bottom: 10px;

}

.footer {

	padding: 10px;
	font-family:"Comic Sans MS";
}
.picture {
	padding-top: 20px;
	padding-bottom: 20px;
}
img { 
border-color: white !important;
border-width: 3px !important;
border-style: solid !important;

}

.restD {
  	border: 3px solid white;
 	text-align: justify !important;
 	max-width: 406px !important;
 	font-family:"Comic Sans MS";
 	margin-bottom: 20px;
 	margin-left: auto;
 	margin-right: auto;
 	padding: 10px;
}

.menu a {
	text-decoration: underline;
}

.menu a:visited {
	color:#eaa40a;
}
.menu a:hover  {
	font-weight: bold;
}

.menu a:active {
	text-decoration: none;
}

.beverages {
		width: 250px; 
		margin: 20px auto;
		text-align: center;
		padding-left: 32px;
}

.beverages td {
	width: 400px;
}

.beverages span{
	padding-right: 20px;
}

.nav-tabs{
	border-bottom: 4px solid #ddd !important;
}

.titleMenu {
	font-family: "Comic Sans MS";
	font-weight: bold;
	font-size: 15px;
	color: #ce90e7;
}
.menuText {
	font-family: "Comic Sans MS";
	font-size: 12px 
}

.divMenu{
	min-height: 150px !important;
	text-align: center;
}

.formContainer{
	width:85%;
	}		

.divLabel, .divInput { 
	display: bloc;
}

.divLabel,.divInput {
	margin-bottom:10px;
	margin-top:10px;
}

.divLabel {
	text-align: right;
}

.formContainer {
	margin:30px auto;
	font-family:"Comic Sans MS";
}

.btn-default {
    color: #f5f5f5 !important;
    background-color: #8033aa !important;
    border-color: #f5f5f5 !important;
    margin-top: 20px;
}
