body {
	font-family: verdana;
}

.albumName {
	text-align: center;
	width: 80%;
}

img {
	width: 300px; 
	height: 300px;
	margin-top: 10px;
}

.members {
	 margin-left: 120px; 
	 font-family: verdana;
}

table {
	width: 80%;
}

table, th , td {
	border: 1px solid black;
}

th {
	background-color: gray;
}

.tracks {
	text-align: center;	
	margin-left: 120px;
}

#title1 {
	text-align: left;
}
