body {
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS"; 
}

.footer, .header {
	text-align: center;
}

.menu span {
	margin-right: 40px;
	font-size: 14px;
}

.container {
	width: 400px; 
	margin: 0px auto;
}

.menu, .footer {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}

.text {
	margin-bottom: 40px;
}

blockquote {
  	border: 1px solid black;
  	width: 360px;
  	margin: 0px auto;
  	padding: 20px;
 	text-align: justify;
}

