body {
	font-family: verdana;
}

.albumImage {
	background-image: url('https://cbsfresh1027.files.wordpress.com/2014/10/maroon5-album-songsaboutjane.jpg?w=840&h=840');
	background-repeat: no-repeat;
	height: 630px;
	margin: 100px auto;
	text-align: center;
	width: 80%;
}

.members {
	 margin-left: 120px; 
	 font-family: verdana;
}

.members li {
	 font-style: italic;
}

table {
	width: 60%;
}

table, th , td {
	border: 1px solid black;
}

th {
	background-color: gray;
}

.tracks {
	text-align: center;	
	margin-left: 120px;
}

#title1 {
	text-align: left;
}

@font-face {
    font-family: 'rock_saltregular';
    src: url('Fonts/RockSalt-webfont.eot');
    src: url('Fonts/RockSalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/RockSalt-webfont.woff') format('woff'),
         url('Fonts/RockSalt-webfont.ttf') format('truetype'),
         url('Fonts/RockSalt-webfont.svg#rock_saltregular') format('svg');
    font-weight: normal;
    font-style: normal;
 }

.specialFont {
	font-family: 'rock_saltregular';
}