
label {
	display: inline-block;
	width: 250px;
	text-align: right;
	padding-right: 10px;
}

textarea {
	vertical-align: top;
	width: 145px;
	height: 70px;
}

input, textarea, select, button {
	border:1.5px solid #000;font-size: 12px;
}

button {
	border-radius: 3px;
	font-weight: bold;
	font-size: 14px;
	width: 120px;
}

select {
	border-radius: 3px;
	font-size: 14px;
	width: 120px;
}

form {
	font-family: Arial;
}