.divLabel,.divInput {
	display: inline-block;
}

.divLabel{
	text-align: right;
	height: 30px;
}

.divInput{
	text-align: left;
	height: 30px;
	border: 2px solid white;
}

.tableRes td,th {
	height: 50px;
	max-width: 40px;

}

.tableRes tr,td, th {
  background-color: #ddd !important;
  border: 2px solid #f5f5f5 !important;
}


.tableRes th {
background-color: grey !important;
}

border: 2px solid #f5f5f5 !important;

